body, .pure-g [class *= "pure-u"] {
    font-family: 'Lato', sans-serif;
}


#splash {
    background-color: #E9E9E9;
}

#prototype {
    background-color: #E9E9E9;
    text-align: center;
}

#hero-text {
    margin: 50px;
    font-size: 4em;
    line-height: 1.2;
}
.mockup-container {
    margin: 20px;
    position: relative;
    height: 0;
    padding-bottom: 100%;
}

.mockup-container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 20px;
}
#header {
    padding: 15px;
}
#header img{
    display: inline-block;
    margin: 0 auto;
}

#process-step {
    display: block;
    background-color: #FFF8E0;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
#process-step h4 {
    text-align:center;
}
#process-step p {
    margin: 15px;
}

a {
    color: black;
}

#logo {
    width: 150px
}


.flow-container {
    position: relative;
    padding-bottom: 150%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flow-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}

.img-container {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    margin: auto;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.body-container {
    margin: 0 auto;
}

#section-text {
    text-align: center;
    margin-top: 20px;
    outline: 10px;
}

#about-text {
    width: 70%;
    padding-left: 40px;
    text-size: 14;
}

.center {
    justify-content: center;
}

.bio-elem {
    text-align: center;
    margin: 20px;
}
